<div id="footer">
  <div id="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <%= image_tag "logo.png", id: "logo-footer" %>
        </div>
        <div class="col-sm-3">
          <span class="title">THE GOOD GIFT</span>
          <ul>
            <li><%= link_to "NOTRE HISTOIRE", "#" %></li>
            <li><%= link_to "L'EQUIPE", "#" %></li>
            <li><%= link_to "PRESSE", "#" %></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <span class="title">SERVICES</span>
          <ul>
            <li><%= link_to "CONTACTEZ-NOUS", "#" %></li>
            <li><%= link_to "LIVRAISONS ET RETOURS", "#" %></li>
            <li><%= link_to "CGV", "#" %></li>
            <li><%= link_to "MENTIONS LEGALES", "#" %></li>
          </ul>
        </div>
        <div class="col-sm-4 text-center social">
          <ul class="list-inline">
           <li>
             <a target="_blank" href="https://www.facebook.com/thegoodgift.official"><i class="icon-ok fa fa-facebook"></i></a>
           </li>
           <li>
             <a target="_blank" href="https://www.instagram.com/thegoodgift.official/"><i class="icon-ok fa fa-instagram"></i></a>
           </li>
           <li>
             <a target="_blank" href="https://twitter.com/_thegoodgift"><i class="icon-ok fa fa-twitter"></i></a>
           </li>
         </ul>
       </div>

     </div>
     <!-- <div class="row">
       <div class="col-xs-offset-8 col-xs-4 text-center">
         <p>Made with 💜 in Paris</p>
       </div>
     </div> -->
   </div>
 </div>
</div>
