  <div class="navbar-home navbar-wagon-fixed">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <!-- Search form -->
    <!-- <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

    <!-- Profile picture and dropdown -->
    <ul class="list-inline">
      <li>
        <%= link_to "#" do %>
        <i class="fa fa-user"></i> <%= t(".profile", default: "Gérer les commandes") %>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <i class="fa fa-home"></i>  <%= t(".profile", default: "Gérer le catalogue") %>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </li>
    </ul>

    <% else %>

    <!-- Login text link -->
    <%= link_to t("#", default: "Comment ça marche?"), new_user_session_path, class: "navbar-wagon-item navbar-white-link", id: "how" %>

    <%= link_to t("#", default: "Nos idées"), new_user_session_path, class: "navbar-wagon-item navbar-white-link", id: "ideas" %>

    <%= link_to t("#", default: "Nos derniers cadeaux"), new_user_session_path, class: "navbar-wagon-item navbar-white-link", id: "last" %>

    <%= link_to t("#", default: "Témoignages"), new_user_session_path, class: "navbar-wagon-item navbar-white-link", id: "reviews" %>

    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Concept</a></li>
        <li><a href="#">Boutique</a></li>
      </ul>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $(document).ready(function() {
    // navbar transition jQuery script
    $(window).scroll(function(e){
      if ($(this).scrollTop() > 10) {
        // $(".navbar-home").css({
        //   "background": "white"
        // });
        // $(".navbar-white-link").css({
        //   "color": "#222222", "opacity": 0.65
        // });
        $('.navbar-home').addClass('navbar-wagon');
        $('.navbar-wagon').removeClass('navbar-home');
        $('.navbar-white-link').addClass('navbar-black-link');
        $('.navbar-black-link').removeClass('navbar-white-link');
      }
      else {
        // $(".navbar-home").css({
        //   background: "transparent",
        // });
        // $(".navbar-home .navbar-white-link").css({
        //   "color": "white"
        // });
        $('.navbar-wagon').addClass('navbar-home');
        $('.navbar-home').removeClass('navbar-wagon');
        $('.navbar-black-link').addClass('navbar-white-link');
        $('.navbar-white-link').removeClass('navbar-black-link');
      }
    });
  });
  <% end %>
<% end %>
