

<div class="wrapper maine-body">
<div class="container" id="recap-card">


  <div class="text-center marginedtop">
    <h2><i class="fa fa-check" aria-hidden="true"></i> </h2>
    <h4>Votre commande s'est bien deroulée !</h4>
    <p> Merci d'avoir choisi The Good Gift. Vous devriez recevoir un email de confirmation rapidement.</p>
     <p> Vous serez livré dans les deux heures par un de nos coursiers.</p>
  </div>



<div class="container" id="contained">

<div class="text-center ">
  <h4>Rappel de votre commande: </h4> <hr>
  <h5>Numéro de commande : <%= @order.id %></h5>
  <h5 id="total-price"> Prix total : <%= @order.total_price %> € </h5>
</div>

<div class="container" id="reminder">
  <% order = @order.products.sort_by {|product| product.price}.reverse %>
  <% order.each do |product| %>
  <li class="item">
    <div class="cart-confirmation">
      <div class="cart-confirmation-image">
        <%= cl_image_tag product.image %>
      </div>
      <div class="cart-confirmation-infos">
        <span class="cart-name"> <%= product.name %> </span>
        <span class="cart-brand"> <%= product.brand %>  </span>
      </div>
    </div>
  </li>
  <% end %>

</div>
<div class="text-center linktohome">
              <hr>
 <%= link_to "Faites un nouveau cadeau ! ", root_path %> <br>
  <%= link_to "Un problème? Contactez nous ! ", "mailto:thegoodgift.info@gmail.com" %>
</div>


</div>
</div>
</div>
</div>

