
  <div class="banner-content text-center margined-bottom">
    <h3><i class="fa fa-check" aria-hidden="true"></i> </h3>
    <h3>Votre commande s'est bien deroulée !</h3>
    <p> Merci d'avoir choisi The Good Gift. Vous devriez recevoir un email de confirmation rapidement.</p>
     <strong><p> Vous serez livré dans les deux heures par un de nos coursiers.</p> </strong>
  </div>



<div class="container" id="contained">

<div class="text-center margin-top">
  <h4>Rappel de votre commande </h4>
    <hr>
  <h5>Numéro de commande : <%= @order.id %></h5>
  <hr>
</div>

<div class="container" id="reminder">
  <% order = @order.products.sort_by {|product| product.price}.reverse %>
  <% order.each do |product| %>
  <li class="item">
    <%= cl_image_tag product.image, height: 300, width: 400, crop: :fit %>
    <div>
      <span class="item-name"> <%= product.name %> </span>
      <span class="item-brand"> <%= product.brand %>  </span>
      <span class="item-desc"></span>
    </div>
  </li>
  <% end %>

</div>
<div class="text-center">
 <h5 id="total-price"> <%= @order.total_price %> € </h5>
              <hr>
 <%= link_to "Faites un nouveau cadeau ! ", root_path %>

</div>
<div class="text-center margined-bottom">
   <%= link_to "Un problème? Contactez nous ! ", root_path %>
</div>

</div>


