<div class="main-body">
  <div class="container checkout-header">
    <h1>
      Paiement
    </h1>
  </div>
  <div class="container checkout-body">
    <div class="row">
      <div class="col-xs-1 col-sm-8" id="forms">


        <div class="checkout-card form-card city-delivery">
          <h3>Ville de livraison</h3>
          <div class="field-city">
            <div class="select">
              <div>
                <div class="input-field">
                  <div class="city-image">
                    <%= cl_image_tag("eiffel-tower_cwdq2n",
                          width: 30, height: 45) %>
                  </div>
                  <%= select_tag "city", "<option>Paris</option><option>Lyon (bientôt dispo !)</option>".html_safe %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="checkout-card form-card email-card">
          <h3>Mon adresse e-mail</h3>
          <div class="flex-form">
            <%= simple_form_for(@order, html: {class: 'form-inline'}) do |f| %>
              <%= f.input :email, label: false %>
              <%= f.submit "Ajouter mon email", class: "btn btn-tertiary" %>
            <% end %>
          </div>
        </div>

        <div class="checkout-card form-card delivery-card">
          <h3>Adresse de livraison</h3>


        </div>

        <div class="checkout-card form-card">
          <h3>Paiement</h3>

        </div>

        <div class="place-order text-center">
          <button class="order-btn">
            Commander
          </button>
          <span class="tandc">En passant votre commande, vous accéptez nos conditions générales d'utilisation ainsi que notre politique de confidentialité. Vous consentez à ce que certaines de vos données soient enregistrées par The Good Gift©.
          </span>
        </div>
      </div>


      <div class="col-xs-1 col-sm-4" id="forms">
        <div class="checkout-card cart-card">
          <div class="bag">
            <div class="bag-header">
              <p>
                <%= @order.products.size %> CADEAUX
              </p>
              <%= link_to "Modifier", :back %>
            </div>

            <hr>

            <div class="bag-item-list">
                <div class="bag-item-wrapper">
                  <ul class="items">
                    <% order = @order.products.sort_by {|product| product.price}.reverse %>

                    <% order.each do |product| %>
                      <li class="item">
                        <%= cl_image_tag product.image, height: 300, width: 400, crop: :fit %>
                        <div>
                          <span class="item-name"> <%= product.name %> </span>
                          <span class="item-brand"> <%= product.brand %>  </span>
                          <span class="item-desc"></span>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
            </div>

            <hr>

            <div class="bag-total">
              <p id="total-content">
                TOTAL À RÉGLER
              </p>
              <p id="total-price">
                <%= @order.total_price %> €
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




