<div class="main-body">
  <div class="container checkout-header">
    <h1>
      Paiement
    </h1>
  </div>
  <div class="container checkout-body">
    <div class="row">
      <div class="col-xs-1 col-sm-8" id="forms">


        <div class="checkout-card form-card city-delivery">
          <div class='hidden' id="city-card-mask"></div>
          <h3>Ville de livraison</h3>
          <div class="field-city">
            <div class="select">
              <div>
                <div class="input-field">
                  <div class="city-image">
                    <%= cl_image_tag("eiffel-tower_cwdq2n",
                    width: 30, height: 45) %>
                  </div>
                  <%= select_tag "city", "<option>Paris</option><option>Lyon (bientôt dispo !)</option>".html_safe %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="checkout-card form-card email-card">
          <div class='hidden' id="email-card-mask"></div>
          <h3>Mon adresse e-mail</h3>
          <div class="flex-form">
            <span class="email-replay-data hidden" id="email-data" data-bind="email"></span>
            <button class="btn tertiary hidden" id='edit-email-btn'>MODIFIER</button>
            <%= simple_form_for(@order, html: {class: 'form-inline', id: 'email-input-field'}, remote: true) do |f| %>
              <%= f.input :email, label: false, id: 'email-field' %>
                <%= f.error :email %>
              <%= f.submit "Ajouter mon email", class: "btn secondary submit" %>
            <% end %>
          </div>
        </div>
              <div class="error-messages">

              </div>
        <div class="checkout-card form-card address-card" id="address-card-inactive">
          <h3>Adresse de livraison</h3>
        </div>


        <div class="checkout-card form-card address-card hidden" id="address-card-active">
          <div class='hidden' id="address-card-mask"></div>
          <h3>Adresse de livraison</h3>
          <div class="replay-address-data hidden" id="address-data-div">
            <span class="replay-data" id="first_name-data" data-bind="first_name"></span>
            <br>
            <span class="replay-data" id="last_name-data" data-bind="last_name"></span>
            <br>
            <span class="replay-data" id="company-data" data-bind="company"></span>
            <br>
            <span class="replay-data" id="address-data" data-bind="address"></span>
            <br>
            <span class="-replay-data" id="phone-data" data-bind="phone"></span>
            <br>
            <button class="btn tertiary" id='edit-address-btn'>MODIFIER</button>
          </div>

          <div id="address-form-fields">
            <%= simple_form_for(@order, html: { class: "form-horizontal"}, remote: true) do |f| %>
              <%= f.input :first_name, label: "Votre prénom", label: false, required: true, placeholder: "Votre prénom" %>
              <%= f.input :last_name, label: "Votre nom", label: false, required: true, placeholder: "Votre nom" %>
              <%= f.input :company, label: "Société", label: false, required: false, placeholder: "Société" %>
              <%= f.input :address, label: "Adresse", label: false, required: true, placeholder: "Adresse" %>
              <%= f.input :phone, placeholder: 'Téléphone portable', label: false, id: 'phone-field' %>
              <%= f.submit "Valider l'adresse", class: "btn secondary submit", id: 'btn-address' %>
            <% end %>
          </div>
        </div>


        <div class="place-order">
          <div class="text-center" style="margin-bottom: 20px;" id="payment-section">
            <button class="btn btn-primary btn-rounded" disabled id="payment-btn">
                Commander
            </button>
            <%= image_tag "card_logos.png", class: "card_logos" %>
          </div>
          <div class="text-center hidden">
            <%= form_tag order_payments_path(@order) do %>
              <script src="https://checkout.stripe.com/checkout.js" id="btn-stripe" class="stripe-button btn btn-primary btn-rounded"
               data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-name=" My Order N°<%= @order.id %>"
                data-email="<%= @order.email %>"
                data-total_price="<%= @order.total_price_cents %>"
                data-currency="<%= @order.total_price.currency %>">
                data-description="Payez <%= @order.total_price%> "
              </script>
            <% end %>
          </div>
          <span class="tandc">En passant votre commande, vous acceptez nos conditions générales d'utilisation ainsi que notre politique de confidentialité. Vous consentez à ce que certaines de vos données soient enregistrées par The Good Gift©.
          </span>
        </div>
      </div>


    <div class="col-xs-1 col-sm-4" id="forms">
        <div id="sticky-anchor"></div>
        <div class="checkout-card cart-card">
          <div class="bag">
            <div class="bag-header">
              <p>
                <%= @order.products.size %> CADEAUX
              </p>
              <%= link_to "Modifier", :back %>
            </div>

            <hr>

            <div class="bag-item-list">
              <div class="bag-item-wrapper">
                <ul class="items">
                  <% order = @order.products.sort_by {|product| product.price}.reverse %>

                  <% order.each do |product| %>
                  <li class="item">
                    <%= cl_image_tag product.image, height: 300, width: 400, crop: :fit %>
                    <div>
                      <span class="item-name"> <%= product.name %> </span>
                      <span class="item-brand"> <%= product.brand %>  </span>
                      <span class="item-desc"></span>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <hr>

            <div class="bag-gift_card-selection">
                <%= image_tag "card_icon.png", id: "giftcard-icon"%>
                <p>Inclure une carte</p>
                <input type="checkbox" class="checkbox" id="checkbox-card">
                <label for="checkbox-card"></label>
            </div>
            <div class="giftcard-form hidden" id="giftcard-list">
              <%= simple_form_for @order, url: "/orders/#{@order[:id]}/select_gift_card", method: 'patch', remote: true do |f| %>
                 <%= f.input :card,
                  as: :radio_buttons,
                  checked: @order[:card],
                  label: false,
                  collection: [
                    ["#{ image_tag @cards_as_objects[0].to_hash[:image_file_name]}".html_safe, @cards_as_objects[0].id],
                    ["#{ image_tag @cards_as_objects[1].to_hash[:image_file_name]}".html_safe, @cards_as_objects[1].id],
                    ["#{ image_tag @cards_as_objects[2].to_hash[:image_file_name]}".html_safe, @cards_as_objects[2].id]
                    ] %>
                 <%= f.submit class: "btn hidden", id: "submit-giftcard" %>
               <% end %>
            </div>
            <div id="giftcard-message"></div>
            <hr id="final-separator">
            <div class="bag-total">
              <p id="total-content">
                TOTAL À RÉGLER
              </p>
              <p id="total-price">
                <%= @order.total_price %> €
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      initializeAutocomplete('order_address');
      function sticky_relocate() {
        var window_top = $(window).scrollTop();
        var div_top = $('#sticky-anchor').offset().top;
        if (window_top > div_top)
            $('.cart-card').addClass('sticky');
        else
            $('.cart-card').removeClass('sticky');
      }
      $(function(){
          $(window).scroll(sticky_relocate);
          sticky_relocate();
        });
      document.getElementById("edit-email-btn").onclick = function fun() {
        $('#email-data').text('<%= @order.email %>');
        $('#email-data').addClass('hidden');
        $('#edit-email-btn').addClass('hidden');
        $('#email-input-field').removeClass('hidden');
        $('#address-card-mask').removeClass('hidden');
        $('#city-card-mask').removeClass('hidden');
        $('#payment-btn').prop("disabled", true);
      }
      document.getElementById("edit-address-btn").onclick = function fun() {
        $('.address-card').css('height','460px');
        $('#first_name-data').text('<%= @order.first_name %>');
        $('#last_name-data').text('<%= @order.last_name %>');
        $('#company-data').text('<%= @order.company %>');
        $('#address-data').text('<%= @order.address %>');
        $('#phone-data').text('<%= @order.phone %>');
        $('#address-data-div').addClass('hidden');
        $('#address-form-fields').removeClass('hidden');
        $('#city-card-mask').removeClass('hidden');
        $('#email-card-mask').removeClass('hidden');
        $('#payment-btn').prop("disabled", true);
      }
      document.getElementById("payment-btn").onclick = function fun() {
        $('.stripe-button-el').trigger('click')
      }
      $(document).on('change', '#checkbox-card', function() {
          if(this.checked) {
            $('#giftcard-list').removeClass('hidden')
          }
          else {
           $('#giftcard-list').addClass('hidden')
          }
      });
      $(document).on('change', '.radio_buttons', function() {
        $('.radio_buttons:not(checked)').parent().css('border', '0px');
        $('.radio_buttons:checked').parent().css('border', '2px solid black');
        $('#submit-giftcard').trigger('click');
        setTimeout(function(){$('#giftcard-message').hide('slow')}, 2000);
      });
      $(document).on('change', '#checkbox-card', function() {
        $('.giftcard-form').show();
      });
    });
  </script>
<% end %>




<!-- Include Google Maps JS API -->
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDiHOA5gVSDnau__WqzMAwWOIXmwDTVfII">
</script>


