    <div class="error-messages">
    </div>
    <div class="form-inline text-search-home">
      <div class="form-search">


        <div class="form-item-home">
          <h3>Votre collègue ?</h3> <br>
          <%= form_tag(select_tags_path, :method => "get", id: "select-genre") do %>
          <%= text_field_tag :search_name, params[:search_name], :required => true, placeholder: "Son prénom", class: "form-control input-lg input-group"%>
            <div class="radio_div">
              <%= radio_button_tag :search_gender, 'Homme', label: "Homme"%>
              <%= label_tag "search_gender_Homme" do %>
              <p class="icon-home">H</p>
              <% end %>
              <%= radio_button_tag :search_gender, 'Femme', label: "Femme"%>
              <%= label_tag "search_gender_Femme" do %>
              <p class="icon-home">F</p>
              <% end %>
            </div>
          <%#= select_tag :search_gender, options_for_select(["Homme", "Femme"], params[:search_gender]), prompt: "Genre", class: "form-control input-lg", id: "sexe" %>
          <%= text_field_tag :search_date, params[:search_date], placeholder: "Date de la remise du cadeau", class: "form-control input-lg hidden", id: "datepicker"%>
        </div>

        <div class="form-item-home">
          <h3>Votre budget ?</h3> <br>
          <div class="input-group">
            <%= text_field_tag :search_price, params[:search_price], :required => true, placeholder: "Montant  ", class: "form-control input-lg"%>
            <div class="input-group-addon input-lg">€</div>
          </div>
        </div>

        <div class="form-item-home">
          <%= submit_tag "Je lui fais plaisir", class: "btn btn-primary btn-home input-lg" %>
        </div>

      <% end %>
    </div>
  </div>

    <% content_for :after_js do %>
    <script>
     $("#select-genre").on("submit", function() {
      var paragraph = $('<p>').text("Votre ami(e) est il un homme ou une femme ?");
      if ($( "#sexe option:selected" ).text() !== "Genre") {
        return true;
      } else {
        $("#sexe").toggleClass('red-message-error');
        $('.error-messages').append(paragraph);
    return false; // prevent it from being submitted (errors, etc.)
  }
});
</script>
<% end %>


