<%# Bannière = Back photo + Search Bar %>

<div class="banner">
	<div class="banner-content text-center">
		<h1>Offrir un cadeau à plusieurs n’a jamais été aussi simple</h1>
    <br><br><br><br>
    <%= render 'pages/home_search_bar' %>
  </div>
</div>

<%# Comment ça marche ? %>

<%= render 'pages/home_comment_ca_marche' %>

<%# Nos derniers packages %>

<%= render 'pages/home_derniers_packages' %>

<%# Ce que vous recevrez %>

<%= render 'pages/home_ce_que_vous_recevrez' %>

<%# Vos témoignages %>

<%= render 'pages/home_temoignages' %>

<%# Nos garanties %>

<%= render 'pages/home_garanties' %>

<%# JS %>

<% content_for(:after_js) do %>
<script>
 // smooth scroll on nav link click
  $('.navbar-home a').on('click', function(event) {
    event.preventDefault();
    $('html, body').animate({
      scrollTop: $( $.attr(this, 'href') ).offset().top - 30
    }, 500);
  });
</script>

<% end %>
