
<h1>  select tags page </h1>

 <%= link_to 'Suivant', products_path, {class: "btn btn primary"} %>


<div class="wrapper">
  <%= render 'form_select_tags' %>
</div>



<!-- Search bar à mettre dans la HOME -->

<br> <br> <br>

<div class="">
  <%= form_tag(select_tags_path, :method => "get") do %>
  <%= text_field_tag :search_name, params[:search_name], placeholder: "Prenom", class: ""%>
  <%= select_tag :search_gender, options_for_select(["Homme", "Femme"], params[:search_gender]), prompt: "Sexe", class: "" %>
  <%= text_field_tag :search_price, params[:search_price], placeholder: "Montant cagnotte (€)", class: ""%>
  <%= text_field_tag :search_date, params[:search_date], placeholder: "Date de la remise du cadeay (€)", id: "datepicker"%>
  <%= submit_tag "Trouver un Good Gift !", :name => nil, class: "" %>
  <% end %>
</div>
