<div class="cart-card">
  <div class="bag">
    <div class="reinitialize-cart">
      <%= form_tag cart_reinitialize_cart_path(@cart), method: 'patch' do%>
        <%= submit_tag "Réinitialiser mon panier", class: "reinitialize-link" %>
      <% end %>
    </div>
    <div class="filter-title">
    <div><span class="">Vos <%= cart.gift_number %> cadeaux</span></div>
    </div>
    <div class="bag-item-list">
      <div class="bag-item-wrapper">
        <ul class="items">
        <% cart.cart_products.each do |cart_product| %>
            <% unless cart_product.product == cart.products.last %>
            <% end %>
            <li class="cart-product">
              <div class="cart-image">
              <%= cl_image_tag cart_product.product.image %>
              </div>
              <div class="cart-infos">
                <span class="cart-name"> <%= cart_product.product.name %> </span>
                <span class="cart-brand"> <%= cart_product.product.brand %>  </span>
                <div class="cart-control">
                  <div>
                    <span class="item-modal" data-toggle="modal" data-target="#modal-<%= cart_product.product.id %>">> voir détails produit <</span>
                  </div>
                  <div>
                    <%= form_tag cart_cart_product_path(cart, cart_product), method: :delete, remote: true do%>
                      <%= submit_tag "> supprimer <", class: "delete-prod-link" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
            <hr>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- modal du cart -->
<% @cart.products.each do |product| %>
  <div class="modal fade" id="modal-<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
          <div class="product-brand">
            <%= product.brand %>
          </div>
        </div>
        <div class="modal-body text-center">
          <div class="modal-image text-center">
            <%= cl_image_tag product.image %>
          </div>
          <div>
            <h4>Description:</h4>
            <p><%= product.description %></p>
          </div>
          </div>
      </div>
    </div>
  </div>
<% end %>
