
<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <div class="bundle">
        <div class="owl-carousel owl-big">
          <% @matching_list.each do |product| %>
          <div class="caroucard" data-id="<%= product.id %>">
            <div class="product-brand">
              <p>price: <%= product.price %></p>
              <p>id :<%= product.id %></p>
            </div>
            <div class="product-image">
              <%= cl_image_tag product.image, width: 150, crop: :fill %>
            </div>
            <div class="product-name">
              <%= product.name %>
            </div>
          </div>
          <% end %>
        </div>

        <!-- On enregistre le produit dans le panier -->
        <%= form_tag cart_cart_products_path(@cart), method: :post do %>
          <% if @matching_list != [] %>
            <%= hidden_field_tag :main_id, @matching_list.first.id %>
          <% end %>
          <%= submit_tag 'Choisir', class: 'btn btn-primary choice-button btn-rounded' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
