<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="sidebar-unfixed">
    <%= render 'products/search_bar_products' %>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <a href="#menu-toggle" class="btn btn-options" id="menu-toggle">
      <span class="arrow-bounce"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
      &nbsp;&nbsp;&nbsp;options</a>
      <!-- Checkout progress bar -->
      <div class="bar-container">
        <div class="progression-bar">
          <div class="circle-1">
            <span class="fa-stack fa-4x">
              <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
              <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
            </span>
          </div>
          <div class="circle-2">
            <span class="fa-stack fa-4x">
              <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
              <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
            </span>
          </div>
          <div class="circle-3">
            <i class="fa fa-circle" aria-hidden="true"></i>
          </div>
          <div class="circle-4">
            <span class="fa-stack fa-4x">
              <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
              <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
            </span>
          </div>
        </div>

        <div class="progression-bar-text">
          <div class="circle-1">
            <span>Welcome</span>
          </div>
          <div class="circle-2">
            <span>Sélection des univers</span>
          </div>
          <div class="circle-3">
            <span><strong>Sélection des cadeaux</strong></span>
          </div>
          <div class="circle-4">
            <span>Checkout</span>
          </div>
        </div>
      </div>


      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="flex-bundle">
              <div class="col-xs-9 text-center">
                  <%= render "matching_list", matching_list: @matching_list %>
                </div>
                <!-- On affiche le panier -->
                <div class="col-xs-3">
                  <div class="cart-content">
                    <div class="checkout-card cart-card">
                      <div class="bag">
                        <div class="filter-title">
                          <div><span class="">Vos <%= @cart.gift_number %> cadeaux</span></div>
                        </div>
                        <div class="bag-item-list">
                          <div class="bag-item-wrapper">
                            <ul class="items">
                              <% @cart.products.reverse.each do |product| %>
                              <% unless product == @cart.products.last %>
                              <hr>
                              <% end %>
                              <li class="item">
                                <%= cl_image_tag product.image, height: 300, width: 400, crop: :fit %>
                                <div>
                                  <span class="item-name"> <%= product.name %> </span>
                                  <span class="item-brand"> <%= product.brand %>  </span>
                                  <span class="item-desc"></span>
                                </div>
                              </li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% if @cart.gift_number == @cart.cart_products.count %>
          <%= form_tag orders_path do %>
          <%= submit_tag 'Passer commande', class: 'btn btn-primary order-button btn-rounded' %>
          <% end %>
          <% end %>
        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>


  <% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      initCarousel();
      Ordercount ();
      ProductChoice ();
    });

    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $("#refresh-options").on("submit", function() {
      if ($(".checkboxes input[type=checkbox]:checked").length >= 3) {
        return true;
      } else {
        $('.error-messages').html("Selectionnez au moins 3 univers");
        return false;
      }
    });

    $(document).ready(function() {
      $(window).scroll(function(e){
        if ($(this).scrollTop() > 70) {
          $('#sidebar-wrapper').addClass('sidebar-fixed');
          $('#sidebar-wrapper').removeClass('sidebar-unfixed');
        }
        else {
          $('#sidebar-wrapper').addClass('sidebar-unfixed');
          $('#sidebar-wrapper').removeClass('sidebar-fixed');
        }
      });
    });
  </script>
  <% end %>


