<div class="main-body" id="cart-page-body">
  <div class="container">

    <!-- first row -->
    <div class="row" id="header-cart-page">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">

        <!-- Checkout progress bar -->
        <div class="bar-container2">
          <div class="progression-bar2">
            <div class="circle-1">
              <span class="fa-stack fa-4x">
                <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
              </span>
            </div>
            <div class="circle-2">
              <span class="fa-stack fa-4x">
                <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
              </span>
            </div>
            <div class="circle-3">
              <i class="fa fa-circle" aria-hidden="true"></i>
            </div>
            <div class="circle-4">
              <span class="fa-stack fa-4x">
                <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
              </span>
            </div>
          </div>

          <div class="progression-bar-text2">
            <div class="circle-1">
              <span>Welcome</span>
            </div>
            <div class="circle-2">
              <span>Sélection des univers</span>
            </div>
            <div class="circle-3">
              <span><strong>Sélection des cadeaux</strong></span>
            </div>
            <div class="circle-4">
              <span>Checkout</span>
            </div>
          </div>
        </div>

        <!-- bar price -->
        <div class="bar-price">
          <h4 class='text-center'>Utilisation du budget:</h4>
          <div class="progress-wrap progress" data-total='<%= @cart.total %>'>
            <div class="progress-bar progress"></div>
          </div>
        </div>

      </div>

      <!-- surprime me -->
      <div class="col-xs-2">
        <div class="surprise-me btn-surprise">
          <!-- <p>SURPRISE ME</p> -->
          <%= form_tag cart_surprise_me_path(@cart), method: 'patch' do%>
          <%= image_submit_tag 'surprise_me2.svg' %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- end first row -->

    <!-- second row -->
    <div class="row">
      <!-- place pour la sidebar -->
      <div class="col-xs-3">
        <%= render 'products/search_bar_products' %>
      </div>

      <!-- place pour le carousel -->
      <div class="col-xs-6">
        <div>
          <!-- Page Content -->
          <div class="matching-list-container"><%# DO NOT REMOVE ME: for js purposes %>
            <%= render "matching_list", matching_list: @matching_list, cart: @cart %>
          </div>
        </div>
      </div>

      <!-- place pour le panier -->
      <div class="col-xs-3">
        <div class="cart-content">
          <%= render 'display_cart', cart: @cart %>
        </div>
      </div>
    </div>
    <!-- end second row -->

  </div>
</div>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    initCarousel();
    Ordercount ();
    ProductChoice ();
    // setTimeout(function() {
    //       moveProgressBar();
    //     }, 300);
      // on browser resize...
      $(window).resize(function() {
        moveProgressBar();
      });
      $('.matching-list-container').on('click', '.slick-arrow', function(event){
        moveProgressBar();
      });
    });

  $("#refresh-options").on("submit", function() {
    if ($(".checkboxes input[type=checkbox]:checked").length >= 3) {
      return true;
    } else {
      $('.error-messages').html("Selectionnez au moins 3 univers");
      return false;
    }
  });

    // SIGNATURE PROGRESS
    function moveProgressBar() {
      var current_total = parseInt($('.progress-wrap').data('total'));
      var current_product_price = parseInt($('.slick-current').data('price'));
      var new_total = current_total + current_product_price;
      var getPercent = (new_total / <%= @cart.price * 0.95 %>);
      var getProgressWrapWidth = $('.progress-wrap').width();
      var progressTotal = getPercent * getProgressWrapWidth;
      var animationLength = 900;

        // on page load, animate percentage bar to data percentage length
        // .stop() used to prevent animation queueing
        $('.progress-bar').stop().animate({
          left: progressTotal
        }, animationLength);
      }

      // CHANGE GIFT NUMBER
        // retirer un cadeau
        $(document).ready(function() {
          var max_nb_gifts = <%= @cart.gift_number_range.last %>;
          $(".fa-minus").click(function(e) {
            e.preventDefault();
            var actual_nb_gifts = parseInt($("#gift_number").val());
            if (actual_nb_gifts > 2) {
              new_nb_gifts = actual_nb_gifts - 1;
              $(".cadeau-display").html((new_nb_gifts));
              $("#gift_number").val(new_nb_gifts);
            }

          });
          $(".fa-plus").click(function(e) {
            e.preventDefault();
            var actual_nb_gifts = parseInt($("#gift_number").val());
            if (actual_nb_gifts < max_nb_gifts) {
              new_nb_gifts = actual_nb_gifts + 1;
              $(".cadeau-display").html(new_nb_gifts);
              $("#gift_number").val(new_nb_gifts);
            }

          });
        });
  </script>
  <% end %>














