<div class="main-body" id="cart-page-body">
  <div class="container">

    <!-- first row -->
    <div class="row" id="header-cart-page">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
        <%# E-commerce progress bar %>
        <%= render 'carts/cart_progress_bar' %>

        <%# Moving price bar %>
        <%= render 'carts/cart_price_bar' %>
      </div>

      <%# Surprise Me Section %>
      <div class="col-xs-2 text-center">
        <div class="surprise-me btn-surprise">
          <%= form_tag cart_surprise_me_path(@cart), method: 'patch' do%>
          <%= image_submit_tag 'surprise_me2.png' %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- end first row -->

    <!-- second row -->
    <div class="row">

      <%# Search Bar on the left side %>
      <div class="col-xs-3">
        <%= render 'carts/cart_search_bar' %>
      </div>

      <%# Carousel Section %>
      <div class="col-xs-6">
        <div>
          <div class="matching-list-container"><%# DO NOT REMOVE ME: for js purposes %>
            <%= render "matching_list", matching_list: @matching_list, cart: @cart %>
          </div>
        </div>
      </div>

      <%# Panier on the right side%>
      <div class="col-xs-3">
        <div class="cart-content">
            <%= render 'display_cart', cart: @cart %>
        </div>
      </div>
    </div>
    <!-- end second row -->

  </div>
</div>

<%# JS%>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    initCarousel();
    Ordercount ();
    ProductChoice ();
      $(window).resize(function() {
        moveProgressBar();
      });
      $('.matching-list-container').on('click', '.slick-arrow', function(event){
        moveProgressBar();
      });
    });

  $("#refresh-options").on("submit", function() {
    if ($(".checkboxes input[type=checkbox]:checked").length >= 3) {
      return true;
    } else {
      $('.error-messages').html("Selectionnez au moins 3 univers");
      return false;
    }
  });

    // SIGNATURE PROGRESS
    function moveProgressBar() {
      var current_total = parseInt($('.progress-wrap').data('total'));
      var current_product_price = parseInt($('.slick-current').data('price'));
      var new_total = current_total + current_product_price;
      var getPercent = (new_total / <%= @cart.price * 0.95 %>);
      var getProgressWrapWidth = $('.progress-wrap').width();
      var progressTotal = getPercent * getProgressWrapWidth;
      var animationLength = 900;

        // on page load, animate percentage bar to data percentage length
        // .stop() used to prevent animation queueing
        $('.progress-bar').stop().animate({
          left: progressTotal
        }, animationLength);
      }

      // CHANGE GIFT NUMBER
        // retirer un cadeau
        $(document).ready(function() {
          var max_nb_gifts = <%= @cart.gift_number_range.last %>;
          $(".fa-minus").click(function(e) {
            e.preventDefault();
            var actual_nb_gifts = parseInt($("#gift_number").val());
            if (actual_nb_gifts > 2) {
              new_nb_gifts = actual_nb_gifts - 1;
              $(".cadeau-display").html((new_nb_gifts));
              $("#gift_number").val(new_nb_gifts);
            }

          });
          $(".fa-plus").click(function(e) {
            e.preventDefault();
            var actual_nb_gifts = parseInt($("#gift_number").val());
            if (actual_nb_gifts < max_nb_gifts) {
              new_nb_gifts = actual_nb_gifts + 1;
              $(".cadeau-display").html(new_nb_gifts);
              $("#gift_number").val(new_nb_gifts);
            }

          });
        });
  </script>
  <% end %>
