<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="sidebar-unfixed">
    <%= render 'products/search_bar_products' %>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <!-- Checkout progress bar -->
    <div class="padded bar-container">
      <div class="progression-bar">
        <div class="circle-1">
          <span class="fa-stack fa-4x">
            <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
            <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
          </span>
        </div>
        <div class="circle-2">
          <span class="fa-stack fa-4x">
            <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
            <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
          </span>
        </div>
        <div class="circle-3">
          <i class="fa fa-circle" aria-hidden="true"></i>
        </div>
        <div class="circle-4">
          <span class="fa-stack fa-4x">
            <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
            <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
          </span>
        </div>
      </div>

      <div class="progression-bar-text">
        <div class="circle-1">
          <span>Welcome</span>
        </div>
        <div class="circle-2">
          <span>Sélection des univers</span>
        </div>
        <div class="circle-3">
          <span><strong>Sélection des cadeaux</strong></span>
        </div>
        <div class="circle-4">
          <span>Checkout</span>
        </div>
      </div>
    </div>

    <a href="#menu-toggle" class="btn btn-options" id="menu-toggle"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;options</a>

    <div class="container-fluid">
      <div class="row">
      <h1 style='margin-top: 0;'> Sélectionnez les <%= @cart.gift_number %> cadeaux de <%= @cart.name.capitalize %>: </h1>
        <div class="col-lg-12">


          <div class="col-xs-11 col-sm-9" id="forms">
            <div class="row">
              <div class="col-xs-12">
              </div>
            </div>
            <div class="row">
              <%= render "matching_list", matching_list: @matching_list %>
            </div>
            <%= form_tag orders_path do %>
              <%= submit_tag 'Passer commande', class: 'btn btn-primary order-button btn-rounded' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>


<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    initCarousel();
    Ordercount ();
    ProductChoice ();
  });

  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  $("#refresh-options").on("submit", function() {
    if ($(".checkboxes input[type=checkbox]:checked").length >= 3) {
      return true;
    } else {
      $('.error-messages').html("Selectionnez au moins 3 univers");
      return false;
    }
  });

  $(document).ready(function() {
    $(window).scroll(function(e){
      if ($(this).scrollTop() > 70) {
        $('#sidebar-wrapper').addClass('sidebar-fixed');
        $('#sidebar-wrapper').removeClass('sidebar-unfixed');
      }
      else {
        $('#sidebar-wrapper').addClass('sidebar-unfixed');
        $('#sidebar-wrapper').removeClass('sidebar-fixed');
      }
    });
  });
</script>
<% end %>


