<div class="wrapper">
  <div class="row">
   <%= form_tag products_path, method: :get do %>
   <% @tags_as_objects.each do |tag| %>
   <label class="select-tag-container" for="<%= tag.identifier %>">
     <%= check_box_tag "tags[]",tag.title, params[:tags].include?(tag.title), id: tag.identifier, style: "display: none;" %>
     <div class=" col-xs-6 col-sm-3 select-tag" data-tag-title="<%= tag.title %>">
      <div class="card resized" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path(tag.image_file_name) %>);">
        <div class="card-category text-center">
          <%= tag.title %>
        </div>
      </div>
    </div>
  </label>
  <% end %>
  <% end %>
</div>
</div>
