<div class="bundle">
  <div class="owl-carousel">
    <% matching_list[:big].each do |product| %>
      <div>
        <div class="product-name">
          <%= product.name %>
        </div>
        <div class="product-brand">
          <%= product.brand %>
        </div>
        <div class="product-image">
          <%= cl_image_tag product.image, height: 100, crop: :fill %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="bundle">
  <div class="owl-carousel">
    <% matching_list[:medium].each do |product| %>
      <div>
        <div class="product-name">
          <%= product.name %>
        </div>
        <div class="product-brand">
          <%= product.brand %>
        </div>
        <div class="product-image">
          <%= cl_image_tag product.image, height: 100, crop: :fill %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="bundle">
  <div class="owl-carousel">
    <% matching_list[:small].each do |product| %>
      <div>
        <div class="product-name">
          <%= product.name %>
        </div>
        <div class="product-brand">
          <%= product.brand %>
        </div>
        <div class="product-image">
          <%= cl_image_tag product.image, height: 100, crop: :fill %>
        </div>
      </div>
    <% end %>
  </div>
</div>



<% content_for(:after_js) do %>
  <script>
 owly.on('changed.owl.carousel', function(event) {
        $(".order-button").attr("disabled", true);
        setTimeout(function() {
          var product_1 = $('.owl-carousel.owl-big .owl-item.active').children().data('id');
          var product_2 = $('.owl-carousel.owl-medium .owl-item.active').children().data('id');
          var product_3 = $('.owl-carousel.owl-small .owl-item.active').children().data('id');
          $("#big").val(product_1);
          $("#medium").val(product_2);
          $("#small").val(product_3);
          $(".order-button").removeAttr("disabled");
        }, 800);
      });
</script>
<% end %>
