
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="bundle">
        <div class="owl-carousel owl-big">
          <% @matching_list[:main].each do |product| %>
          <div class="caroucard" data-id="<%= product.id %>">
            <div class="product-brand">
              <%#= product.brand %>
              <p>price: <%= product.price %></p>
              <p>id :<%= product.id %></p>
            </div>
            <div class="product-image">
              <%= cl_image_tag product.image, width: 150, crop: :fill %>
            </div>
            <div class="product-name">
              <%= product.name %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-1">
      <div class="sign-plus">
      <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="bundle">
        <!-- <div class="owl-carousel owl-medium">
          <%# @matching_list[:side_one].each do |product| %>
            <div data-id="<%#= product.id %>">
              <div class="product-brand">
                <%#= product.brand %>
              </div>
              <div class="product-image">
                <%#= cl_image_tag product.image, width: 150, crop: :fill %>
              </div>
              <div class="product-name">
                <%#= product.name %>
              </div>
            </div>
          <%# end %>
        </div> -->
      </div>
    </div>
    <div class="col-xs-1">
      <div class="sign-plus">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="bundle">
        <!-- <div class="owl-carousel owl-small">
          <%# @matching_list[:side_two].each do |product| %>
            <div data-id="<%#= product.id %>">
              <div class="product-brand">
                <%#= product.brand %>
              </div>
              <div class="product-image">
                <%#= cl_image_tag product.image, width: 150, crop: :fill %>
              </div>
              <div class="product-name">
                <%#= product.name %>
              </div>
            </div>
          <%# end %>
        </div> -->
      </div>
    </div>
  </div>
</div>
