
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="bundle">
        <div class="owl-carousel owl-big">
          <% @matching_list[:main].each do |product| %>
          <div class="caroucard" data-id="<%= product.id %>">
            <div class="product-brand">
              <%#= product.brand %>
              <p>price: <%= product.price %></p>
              <p>id :<%= product.id %></p>
            </div>
            <div class="product-image">
              <%= cl_image_tag product.image, width: 150, crop: :fill %>
            </div>
            <div class="product-name">
              <%= product.name %>
            </div>
          </div>
          <% end %>
        </div>
          <%= form_tag gift_two_path do %>
            <%= hidden_field_tag :main_gift_id, @matching_list[:main].first.id %>


            <%= hidden_field_tag :search_name, params[:search_name], placeholder: "Prénom", class: "form-control"%>
            <%= hidden_field_tag :search_gender, options_for_select(["Homme", "Femme"], params[:search_gender]), placeholder: "Sexe", class: "form-control" %>
            <%= text_field_tag :search_price, params[:search_price], placeholder: "Budget", class: "form-control"%>
            <% @tags_as_objects.each do |tag| %>
              <label class="checkboxes" for="<%= tag.identifier %>">
                <%= check_box_tag "tags[]", tag.title, params[:tags].include?(tag.title), id: tag.identifier, style: "display: none;" %>
              </label>
            <% end %>
            <%= submit_tag :Choisir, class: "btn btn-primary btn-rounded" %>


          <% end %>
      </div>
    </div>
    <div class="col-xs-1">
      <div class="sign-plus">
      <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="bundle">
        <!-- <div class="owl-carousel owl-medium">
          <%# @matching_list[:side_one].each do |product| %>
            <div data-id="<%#= product.id %>">
              <div class="product-brand">
                <%#= product.brand %>
              </div>
              <div class="product-image">
                <%#= cl_image_tag product.image, width: 150, crop: :fill %>
              </div>
              <div class="product-name">
                <%#= product.name %>
              </div>
            </div>
          <%# end %>
        </div> -->
      </div>
    </div>
    <div class="col-xs-1">
      <div class="sign-plus">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="bundle">
        <!-- <div class="owl-carousel owl-small">
          <%# @matching_list[:side_two].each do |product| %>
            <div data-id="<%#= product.id %>">
              <div class="product-brand">
                <%#= product.brand %>
              </div>
              <div class="product-image">
                <%#= cl_image_tag product.image, width: 150, crop: :fill %>
              </div>
              <div class="product-name">
                <%#= product.name %>
              </div>
            </div>
          <%# end %>
        </div> -->
      </div>
    </div>
  </div>
</div>
