
<div class="search-product" >
  <div class="wrapper">
      <div class="margined">
        <%= form_tag products_path, method: :get, id: "form", remote: true do %>
          <%= text_field_tag :search_date, params[:search_date], id: "datepicker", class: "form-control hidden"%>
          <div class="filter-title">
            <div><span class="">Son prénom</span></div>
          </div>
          <%= text_field_tag :search_name, params[:search_name], placeholder: "Prénom", class: "form-control"%>
          <%= select_tag :search_gender, options_for_select(["Homme", "Femme"], params[:search_gender]), placeholder: "Sexe", class: "form-control" %>
          <div class="filter-title">
            <div><span class="">Votre budget</span></div>
          </div>
          <div class="input-group">
            <%= text_field_tag :search_price, params[:search_price], placeholder: "Budget", class: "form-control"%>
            <div class="input-group-addon">€</div>
          </div>
          <div class="filter-title">
            <div><span class="">Ses goûts</span></div>
          </div>
      </div>
      <div class="container-checkbox">
        <% @tags_as_objects.each do |tag| %>
        <label class="checkboxes" for="<%= tag.identifier %>">
          <%= check_box_tag "tags[]", tag.title, params[:tags].include?(tag.title), id: tag.identifier, style: "display: none;" %>
          <div class="check-card" data-tag-title="<%= tag.title %>">
            <div class="check-title">
              <%= tag.title %>
              <i class="fa fa-check"></i>
            </div>
          </div>
        </label>
        <% end %>
      </div>
        <%= submit_tag :Actualiser, class: "btn btn-primary btn-rounded" %>
      <% end %>
  </div>
</div>
