
 <div class="search-product form-inline">
   <%= form_tag products_path, method: :get do %>
   <%= select_tag "Gender", options_for_select(["Homme", "Femme"], params[:search_gender]), class: "form-control" %>
    <%= text_field_tag "Date", params[:search_date], id: "datepicker", class: "form-control"%>
    <%= text_field_tag "Prenom", params[:search_name], class: "form-control"%>
    <%= text_field_tag "Price", params[:search_price], class: "form-control"%>
   <br>
    <br>
    <%= submit_tag :submit %>
  <% end %>
</div>
