
 <div class="search-product form-inline">
   <%= form_tag products_path, method: :get do %>
    <%= text_field_tag "Gender", params[:search_gender], class: "form-control"%>
    <%= text_field_tag "Date", params[:search_date], class: "form-control"%>
    <%= text_field_tag "Prenom", params[:search_name], class: "form-control"%>
    <%= text_field_tag "Price", params[:search_price], class: "form-control"%>
    <%= submit_tag :submit %>
  <% end %>
</div>
