
 <div class="search-product form-inline">
   <%= form_tag products_path, method: :get do %>
   <%= select_tag :search_gender, options_for_select(["Homme", "Femme"], params[:search_gender]), placeholder: "Sexe", class: "form-control" %>
    <%= text_field_tag :search_date, params[:search_date], id: "datepicker", class: "form-control"%>
    <%= text_field_tag :search_name, params[:search_name], placeholder: "Prénom", class: "form-control"%>
    <%= text_field_tag :search_price, params[:search_price], placeholder: "Prix", class: "form-control"%>
<%= render 'products/card_tags_checkboxs' %>
   <br>
    <br>
    <%= submit_tag :submit, class: "btn btn-primary" %>
  <% end %>
</div>
