
<div class="search-product form-inline error-messages" >
  <div class="wrapper">
    <div class="row">
      <%= form_tag products_path, method: :get, id: "form", remote: true do %>
        <%= text_field_tag :search_name, params[:search_name], label: "Prénom", placeholder: "Prénom", class: "form-control"%>
        <br>
        <%= text_field_tag :search_price, params[:search_price], placeholder: "Budget (€)", class: "form-control"%>
        <br>
        <%= select_tag :search_gender, options_for_select(["Homme", "Femme"], params[:search_gender]), placeholder: "Sexe", class: "form-control" %>
        <%= text_field_tag :search_date, params[:search_date], id: "datepicker", class: "form-control hidden"%>
        <% @tags_as_objects.each do |tag| %>
          <label class="select-tag-container" for="<%= tag.identifier %>">
            <%= check_box_tag "tags[]",tag.title, params[:tags].include?(tag.title), id: tag.identifier, style: "display: none;" %>
            <div class=" col-xs-6 select-tag" data-tag-title="<%= tag.title %>">
              <div class="card resized" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path(tag.image_file_name) %>);">
                <div class="card-category text-center">
                  <%= tag.title %>
                </div>
              </div>
            </div>
          </label>
        <% end %>
        <%= submit_tag "Nouvelle recherche", class: "btn btn-primary margined" %>
      <% end %>
    </div>
  </div>
</div>
