
<% #bundle page flow view : n°3 %>
<div class="text-center">
  <h1> Notre selection de Gifts </h1>
</div>

<%= render 'products/search_bar_products' %>

<br>
<br>

<p> big : <%= @matching_list[:big] %> </p>
<p> medium : <%= @matching_list[:medium]%></p>
<p> small <%= @matching_list[:small]%></p>

    <div class="wrapper-bundle">
      <div class="container">
        <div class="row">
          <div class="bundle">
            <% @products.each do |product| %>
            <div class="col-xs-6 col-md-4 col-sm-4 ">
              <div class="product">
                <ul><%= product.name %></ul>
                <ul><%= product.brand %></ul>
                <ul>genre: <%= product.gender %></ul>
                <ul><%= cl_image_tag product.image, height: 70, crop: :fill %></ul>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
