
<% #bundle page flow view : n°3 %>

<h1> Bundle pages </h1>

<%= render 'products/search_bar_products' %>


<div class="wrapper-bundle">
  <div class="container">
    <div class="row">
      <div class="bundle">
        <% @products.each do |product| %>
          <div class="col-xs-6 col-md-4 col-sm-4 ">
            <div class="product">
              <ul><%= product.name %></ul>
              <ul><%= product.brand %></ul>
              <ul>genre: <%= product.gender %></ul>
              <ul><%= cl_image_tag product.image, height: 70, crop: :fill %></ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
