<div class="padded bar-container">
  <div class="progression-bar">
    <div class="circle-1">
      <span class="fa-stack fa-4x">
        <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
        <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      </span>
    </div>
    <div class="circle-2">
      <span class="fa-stack fa-4x">
        <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
        <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      </span>
    </div>
    <div class="circle-3">
      <i class="fa fa-circle" aria-hidden="true"></i>
    </div>
    <div class="circle-4">
      <span class="fa-stack fa-4x">
        <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
        <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      </span>
    </div>
  </div>

  <div class="progression-bar-text">
    <div class="circle-1">
      <span>Welcome</span>
    </div>
    <div class="circle-2">
      <span>Sélection des univers</span>
    </div>
    <div class="circle-3">
      <span><strong>Sélection des cadeaux</strong></span>
    </div>
    <div class="circle-4">
      <span>Checkout</span>
    </div>
  </div>
</div>

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">
                  Start Bootstrap
              </a>
          </li>
          <li>
              <a href="#">Dashboard</a>
          </li>
          <li>
              <a href="#">Shortcuts</a>
          </li>
          <li>
              <a href="#">Overview</a>
          </li>
          <li>
              <a href="#">Events</a>
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Simple Sidebar</h1>
                  <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                  <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>

<div class="product-index">
  <%= render 'products/search_bar_products' %>
  <br>
  <h1 style='margin-top: 0;'> Sélectionnez votre ensemble de cadeaux :</h1>
  <br>
<br>
  <div id="matching-list-container">
    <%= render "matching_list", matching_list: @matching_list %>
  </div>

  <%= form_tag orders_path do %>
  <% if @matching_list[:small] != [] %>
  <%= hidden_field_tag :small, @matching_list[:small].first.id %>
  <% end %>
  <% if @matching_list[:medium] != [] %>
  <%= hidden_field_tag :medium, @matching_list[:medium].first.id %>
  <% end %>
  <% if @matching_list[:big] != [] %>
  <%= hidden_field_tag :big, @matching_list[:big].first.id %>
  <% end %>
  <%= hidden_field_tag :total_price, params[:search_price] %>
  <br>
  <%= submit_tag 'Passer commande', class: 'btn btn-primary order-button btn-rounded' %>
  <% end %>

</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      initCarousel();
      Ordercount ();
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    // $(document).ready(function() {
    //   $(window).scroll(function(e){
    //     if ($(this).scrollTop() > 70) {
    //       $('.bar-container').addClass('progress-bar-fixed');
    //     }
    //     else {
    //       $('.bar-container').removeClass('progress-bar-fixed');
    //     }
    //   });
    // });
  </script>
<% end %>


