<div class="product-index">
  <%= render 'products/search_bar_products' %>
  <h1> Selectionnez vos cadeaux :</h1>

  <div class="wrapper-bundle">
    <div class="container">
      <div class="row">
        <div class="bundle">
          <div class="owl-carousel">
            <% @matching_list[:big].each do |product| %>
            <div>
              <div class="product-name">
                <%= product.name %>
              </div>
              <div class="product-brand">
                <%= product.brand %>
              </div>
              <div class="product-image">
                <%= cl_image_tag product.image, height: 100, crop: :fill %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper-bundle">
    <div class="container">
      <div class="row">
        <div class="bundle">
          <div class="owl-carousel">
            <% @matching_list[:medium].each do |product| %>
            <div>
              <div class="product-name">
                <%= product.name %>
              </div>
              <div class="product-brand">
                <%= product.brand %>
              </div>
              <div class="product-image">
                <%= cl_image_tag product.image, height: 100, crop: :fill %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-bundle">
    <div class="container">
      <div class="row">
        <div class="bundle">
          <div class="owl-carousel">
            <% @matching_list[:small].each do |product| %>
            <div>
              <div class="product-name">
                <%= product.name %>
              </div>
              <div class="product-brand">
                <%= product.brand %>
              </div>
              <div class="product-image">
                <%= cl_image_tag product.image, height: 100, crop: :fill %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    $(".owl-carousel").owlCarousel({
      items: 1,
      nav: true,
      loop: true,
      smartSpeed: 550,
      mouseDrag: true,
      navText: ["Précedent","Suivant"],
    });
  });
</script>
<% end %>




