<div class="product-index">
  <div class="text-center">
    <h1> Notre selection de Gifts </h1>
  </div>
  <br>
  <%= render 'products/search_bar_products' %>
  <h1> Selectionnez vos cadeaux :</h1>

  <div id="matching-list-container">
    <%= render "matching_list", matching_list: @matching_list %>
  </div>

  <%= form_tag orders_path do %>
    <% if @matching_list[:small] != [] %>
      <%= hidden_field_tag :small, @matching_list[:small].first.id %>
    <% end %>
    <% if @matching_list[:medium] != [] %>
      <%= hidden_field_tag :medium, @matching_list[:medium].first.id %>
    <% end %>
    <% if @matching_list[:big] != [] %>
      <%= hidden_field_tag :big, @matching_list[:big].first.id %>
    <% end %>
    <%= hidden_field_tag :total_price, params[:search_price] %>
    <%= submit_tag 'Passer commande', class: 'btn btn-primary order-button' %>
  <% end %>

</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      initCarousel();
      Ordercount();
    });
  </script>
<% end %>


